<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="ContentDelivery">
      <pipelines>
          <initialize>
              <processor type="Sitecore.Support.Pipelines.CatalogsPrefetchProcessor, Sitecore.Support.419414">
                  <param desc="categoryTemplateID">{4C4FD207-A9F7-443D-B32A-50AA33523661}</param>
                  <param desc="catalogTemplateID">{93AF861A-B6F4-45BE-887D-D93D4B95B39D}</param>
                  <param desc="catalogToPrefetchIds">{F278E523-9965-DCD4-6C30-90A7A6D4C1E0}</param>
                  <param desc="database">web</param>
                  <param desc="mesureLoadTime">true</param>
              </processor>
          </initialize>
      </pipelines>
  </sitecore>
</configuration>